<app-navbar (change)="change()" (wordSearch)="wordSearch($event)"></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="row">
                
                    <app-card class="col-md-4 mb-2 rounded-3 "  *ngFor="let usuario of usuarios |filter:word" [usuario]="usuario" (user)="push($event)"  ></app-card>
            </div>
        </div>
        <div class="col-4">
            <app-create *ngIf="create"></app-create>
        <app-update [user]="user"  *ngIf="!create"> </app-update>

        </div>
        
    </div>
</div>